


{% for vehicules in voitures %}
<div class="card card-annonce" style="width: 18rem;">
  <img   src="{{ vich_uploader_asset(vehicules, 'imageFile')}}" class="card-img-recettes " alt="recettes">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
     
      {{vehicules.prix}}
      <br>
      {{vehicules.marque}}
      <br>
          {{vehicules.modele}}
          <br>
          {{vehicules.annee}}
            <br>
           {{vehicules.kilometrage}}
           <br>
           <p id="description" style="display: none;">{{vehicules.description}}</p>
      <a id="btn-description" href="#" class="btn btn-primary">description</a>
    </div>
  </div>
  {% endfor %}
 

