



  {% for vehicules in voitures %}
<div  class="card annonces" style="width: 18rem;">
  <img   src="{{ vich_uploader_asset(vehicules, 'imageFile')}}" class="card-img-annonce " alt="photo">
    <div class="card-body">
      <a class="titre" href="{{path('app_description', {'description': vehicules.id})}}"><h5 class="card-title "><b>{{vehicules.marque}} {{vehicules.modele}}</b></h5></a>
           <p>{{vehicules.marque}}</p> 
          <p>{{vehicules.modele}}</p> 
          <p><strong>{% trans %}Year{%  endtrans %}</strong> {{vehicules.annee}}</p>
          <p><strong>{% trans %}mails{%  endtrans %}</strong> {{vehicules.kilometrage}}</p>
            <p><strong>{% trans %}Price{%  endtrans %}</strong> {{vehicules.prix}}</p>
           <p id="description"  style="display: none;">{{vehicules.description}}</p>
    </div>
  </div>
  {% endfor %}
 



 