



    <button id="marque" class="btn btn-info btn-sm dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}brands{% endtrans %}
    </button>
    <ul id="filter-marque"  class="dropdown-menu">
        {% for marque in marques %}

        <li  ><a   class="lien-filter" href="{{path('app_accueil', {'marqueid': marque.id})}}">{{marque}}</a></li>
        
        {% endfor %} 
    
    </ul>
  
  
    <button id="modele" class="btn btn-info btn-sm dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}model{% endtrans %}
    </button>
    <ul id="filter-model"  class="dropdown-menu modele">
        {% for modele in modeles %}

        <li ><a class="lien-filter  " href="{{path('app_accueil', {'modeleid': modele.id})}}">{{modele}}</a></li>
        
        {% endfor %}
    </ul>
  
  

  
    <button id="motorisation" class="btn btn-info btn-sm dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}motors{% endtrans %}
    </button>
    <ul id="filter-motor" class="dropdown-menu">
        {% for motorisations in motorisation %}

        <li><a  class="lien-filter" href="{{path('app_accueil', {'motorisationid': motorisations.id})}}">{{motorisations.motorisation}}</a></li>
            
        {% endfor %}
    </ul>
  
    <button id="service"  class="btn btn-info btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}services{% endtrans %}
    </button>
    <ul id="filter-service" class="dropdown-menu">
        {% for service in services %}

        <li><a  class="lien-filter" href="{{ path('app_detail', {'service' : service.id})}}">{{service}}</a></li>
        
        {% endfor %}
    </ul>
 
  

    




