


<div id="marque" class="btn-group ">
    <button class="btn btn-info btn-sm dropdown-toggle   filtre-marque" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}brands{% endtrans %}
    </button>
    <ul  class="dropdown-menu">
        {% for marque in marques %}

        <li ><a id="filter-marque"  class="lien-filtre  marque" href="{{path('app_accueil', {'marqueid': marque.id})}}">{{marque}}</a></li>
        
        {% endfor %} 
    
    </ul>
  </div>
  

   

  <div id="modele" class="btn-group   ">
    <button class="btn btn-info btn-sm dropdown-toggle  filtre-modele" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}model{% endtrans %}
    </button>
    <ul class="dropdown-menu modele">
        {% for modele in modeles %}

        <li><a id="filter-model" class="lien-filtre  " href="{{path('app_accueil', {'modeleid': modele.id})}}">{{modele}}</a></li>
        
        {% endfor %}
    </ul>
  </div>
  

  <div id="motorisation" class="btn-group  ">
    <button class="btn btn-info btn-sm dropdown-toggle  filtre-motorisation" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}motors{% endtrans %}
    </button>
    <ul class="dropdown-menu">
        {% for motorisations in motorisation %}

        <li><a id="filter-motor" class="lien-filtre  motorisation" href="{{path('app_accueil', {'motorisationid': motorisations.id})}}">{{motorisations.motorisation}}</a></li>
            
        {% endfor %}
    </ul>
  </div>
  

    

  <div id="service" class="btn-group  ">
    <button class="btn btn-info btn-sm dropdown-toggle filtre-service" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans %}services{% endtrans %}
    </button>

    <ul class="dropdown-menu">
        {% for service in services %}

        <li><a id="filter-service" class="lien-filtre   service" href="{{ path('app_detail', {'service' : service.id})}}">{{service}}</a></li>
        
        {% endfor %}
    </ul>
  </div>
  

    




