
<style>
    .card-filtre{

        margin-top: 10px;
        margin-left: 10px;
        width: 200px;
        text-align: center;
        text-decoration-line: none;
    }
  .lien-filtre{


    text-decoration: none;
  }
   
</style>


<div class="card card-filtre" ">
    {% for marque in marques %}

    <a class="lien-filtre" href="{{path('app_accueil', {'marquesid': marque.id})}}">{{marque}}</a>
    
    {% endfor %}
    
</div>


<div  class="card card-filtre">
    {% for modele in modeles %}

    <a class="lien-filtre" href="{{path('app_accueil', {'modelesid': modele.id})}}">{{modele}}</a>
    
    {% endfor %}
    
</div>


<div  class="card card-filtre">
    {% for motorisations in motorisation %}

    <a class="lien-filtre" href="{{path('app_accueil', {'motorisationid': motorisations.id})}}">{{motorisations.motorisation}}</a>
        
    {% endfor %}
</div>

<div  class="card card-filtre">
    {% for service in services %}

<a class="lien-filtre" href="{{ path('app_prestation', {'id': service.id})}}">{{service}}</a>

{% endfor %}


</div>